<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            font-family: 微軟正黑體, "Times New Roman",
                Times, serif;
            color:#4D3900;
            background-color: #feffcc }
    </style>

</head>

<body>
    <div class="container mt-3" >

        <div class="alert alert-success" role="alert" style="margin-bottom: 3rem">
            <h1 class="alert-heading text-center" >建立行程</h1>
            <p Align="Center">為這次的旅行取上特別的名字</p>
            
        </div>

        <!--<form action = "/product/addschedule" method = "post">
            <div class="form-row" style="margin-bottom: 4rem">
              <div class="form-group col-md-6">
                <label for="inputEmail4" style="margin-bottom: 1rem;font-size: 1.4rem"><strong>行程名稱</strong></label>
                <input type="schedule" class="form-control" name="schedule_name" placeholder="輸入行程名稱">
              </div>
            </div>
       
            <button type="submit" class="btn btn-success float-right" style="margin-top:2rem;margin-bottom: 1rem" >建立</button>
        </form>-->
        <!---------->
        <div class="content">
            <h2>新增成功!</h2>   
               
        </div>    
        <!---------->

       

    </div>
    
</body>

</html>