<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
    
<title>我的行程</title>
<!-- 連結思源中文及css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
<script src="../../js/main.js"></script>

<style type="text/css">
        body {
            font-family: 微軟正黑體, "Times New Roman",
                Times, serif;
            color:#4D3900;
            background-color: #fffdec ;
            
            }
    
            a {
                text-decoration:none;
                color: #4D3900;
            }        
    </style> 
<!------------------------->
</head>
   
<body>
    <div class="container mt-3" >

        <div class="alert alert-warning" role="alert"  style="margin-bottom: 2rem;">
            <h1 class="alert-heading text-center" ><strong>計畫表</strong></h1>
            <p Align="Center">安排一個屬於你或屬於你們的旅行</p>
            
          </div>

        <div class="row">
         
            <!-- 卡片一 -->
            <% for(var i=0; i<items.length; i++) {%>

            <div class="col-6"style="margin-top: 1.2rem" >
                <div class="card text-center bg-warning mb-3 " style=" font-size:1.3em"> <!--0724修改-->

                    <img src="https://www.taiwan.net.tw/pic.ashx?qp=event/ec3f17ee-ad17-455e-8af0-12d6ec740715.jpg&sizetype=2" class="card-img-top" >
                    <div class="card-body" >
                        <!--<p class="card-text" name="schedule_name"  ><strong><%= items[i].schedule_name %></strong></p> (原本)-->
                        <!--<p a href="/schedule/query" name="schedule_name" ><strong><%= items[i].schedule_name %></strong></p>-->
                         <a href="http://localhost/schedule/query?schedule_id=<%= items[i].schedule_id %>" class="card-text" method = "get"  ><strong><%= items[i].schedule_name %></strong></a>
                    </div>   


                </div>
            </div>

            <% } %> 
                   

        </div>

        <button type="button" class="btn btn-success float-right"  style="margin-top: 2rem;margin-bottom: 1rem" onclick="toAddPlan()" >新增行程</button>
        
    </div>

</body> 
</html>