<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            font-family: 微軟正黑體, "Times New Roman",
                Times, serif;
            color:#4D3900;
            background-color: #feffcc }
    </style>
     <!--radio btn select -->

    <script type="text/javascript" language="javascript">
     /*------判断radio是否有选中，获取选中的值--------*/
        $(function(){
             $("#btnSubmit").click(function(){
                var val=$('input:radio[name="scheduleid"]:checked').val();
                if(val==null){
                    alert("請選擇一項計畫表!");
                    return false;
                }
                else{
                    alert(val);
                }
             });
         });
    </script>
 <!--radio btn select-->

</head>


<body>
    <div class="container mt-3" >

        <div class="alert alert-success" role="alert" style="margin-bottom: 3rem">

             <form action = "/collection/add" method = "post">

                <div class="form">
<!--******************************************************-->
                   <p>請選擇要加入的行程</p>
                    <div class="collection">
                            <% for(var i=0; i<items.length; i++) {%>
                              <input type="radio" name="scheduleid" value="<%= items[i].schedule_id %>" > <%= items[i].schedule_name %><br>
                            <% } %>          
                    </div>
                    <br>
                    <button type="submit" id="btnSubmit"> 確定</button>
<!--******************************************************-->



                </div>    
            </form>      
            
        </div> 

    </div>
    
</body>

</html>