<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Chavel</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
		<div class="col-md-12">
			<h3>
				收藏
			</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="圖片替代文字" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" >

						<div class="card-block">

							<h5 class="card-title">
								台北101
							</h5>
							<p class="card-text">
								位於臺灣臺北市信義區的摩天大樓，樓高509.2公尺，地上樓層共有101層、另有地下5層，總樓地板面積37萬4千平方公尺，由李祖原聯合建築師事務所設計，KTRT團隊承造，於1999年9月動工，2004年12月31日完工開幕。
							</p>
							<p>
								<a class="btn btn-primary" href="#">移除收藏</a> <a class="btn" href="#">加入行程</a>
							</p>
						</div>

					</div>
				</div>
				<!--<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="圖片替代文字" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg">
						<div class="card-block">
							<h5 class="card-title">
								Card title
							</h5>
							<p class="card-text">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="btn btn-primary" href="#">移除收藏</a> <a class="btn" href="#">加入行程</a>
							</p>
						</div>
					</div>
				</div>-->

			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>